<ul id="slide-out" class="side-nav fixed">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.lig.img | absolute_url}}" alt="{{site.data.lig.title}}" class="side-nav-img"/>
          {{ site.data.lig.title }}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/lig/genel-bakis.html">Genel Bakış</a></li>
            <li><a href="/lig/mac-programi.html">Maç Programı</a></li>
            <li><a href="/lig/final-yolu.html">Final Yolu</a></li>
            <li><a href="/lig/rakipbul-kap">Rakipbul KAP</a></li>
            <li><a href="/lig/transfer-borsasi.html">Transfer Borsası</a></li>
            <li><a href="/lig/lig-verileri">Lig Verileri</a></li>
            <li><a href="/lig/ceza-tahtasi">Ceza Tahtası</a></li>
            <li><a href="/lig/kural-kitapcigi">Kural Kitapçığı</a></li>
            <li><a href="/lig/son-sampiyonlar">Son Şampiyonlar</a></li>
            <li><a href="/lig/haberler">Haberler</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.takim.img | absolute_url}}" alt="{{site.data.takim.title}}" class="side-nav-img"/>
          {{site.data.takim.title}}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.oyuncu.img | absolute_url}}" alt="{{site.data.oyuncu.title}}" class="side-nav-img"/>
          {{site.data.oyuncu.title}}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="hide sidenav-control">{{ page.url }}</li>
</ul>
