<ul id="slide-out" class="side-nav fixed">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.lig.img | absolute_url}}" alt="{{site.data.lig.title}}" class="side-nav-img"/>
          {{ site.data.lig.title }}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{{ "/lig/genel-bakis.html" | relative_url }}">Genel Bakış</a></li>
            <li><a href="{{ "/lig/mac-programi.html" | relative_url }}">Maç Programı</a></li>
            <li><a href="{{ "/lig/final-yolu.html" | relative_url }}">Final Yolu</a></li>
            <li><a href="{{ "/lig/rakipbul-kap.html" | relative_url }}">Rakipbul KAP</a></li>
            <li><a href="{{ "/lig/transfer-borsasi.html" | relative_url }}">Transfer Borsası</a></li>
            <li><a href="{{ "/lig/lig-verileri" | relative_url }}">Lig Verileri</a></li>
            <li><a href="{{ "/lig/ceza-tahtasi" | relative_url }}">Ceza Tahtası</a></li>
            <li><a href="{{ "/lig/kural-kitapcigi" | relative_url }}">Kural Kitapçığı</a></li>
            <li><a href="{{ "/lig/son-sampiyonlar" | relative_url }}">Son Şampiyonlar</a></li>
            <li><a href="{{ "/lig/haberler" | relative_url }}">Haberler</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.takim.img | absolute_url}}" alt="{{site.data.takim.title}}" class="side-nav-img"/>
          {{site.data.takim.title}}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.oyuncu.img | absolute_url}}" alt="{{site.data.oyuncu.title}}" class="side-nav-img"/>
          {{site.data.oyuncu.title}}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="hide sidenav-control">{{ page.url }}</li>
</ul>
