<ul id="slide-out" class="side-nav fixed">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.lig.img | absolute_url}}" alt="{{site.data.lig.title}}" class="side-nav-img"/>
          {{ site.data.lig.title }}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{{ "/lig/genel-bakis.html" | relative_url }}">Genel Bakış</a></li>
            <li><a href="{{ "/lig/mac-programi.html" | relative_url }}">Maç Programı</a></li>
            <li><a href="{{ "/lig/final-yolu.html" | relative_url }}">Final Yolu</a></li>
            <li><a href="{{ "/lig/rakipbul-kap.html" | relative_url }}">Rakipbul KAP</a></li>
            <li><a href="{{ "/lig/transfer-borsasi.html" | relative_url }}">Transfer Borsası</a></li>
            <li><a href="{{ "/lig/lig-verileri.html" | relative_url }}">Lig Verileri</a></li>
            <li><a href="{{ "/lig/ceza-tahtasi.html" | relative_url }}">Ceza Tahtası</a></li>
            <li><a href="{{ "/lig/kural-kitapcigi.html" | relative_url }}">Kural Kitapçığı</a></li>
            <li><a href="{{ "/lig/son-sampiyonlar.html" | relative_url }}">Son Şampiyonlar</a></li>
            <li><a href="{{ "/lig/haberler.html" | relative_url }}">Haberler</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.takim.img | absolute_url}}" alt="{{site.data.takim.title}}" class="side-nav-img"/>
          {{site.data.takim.title}}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{{ "/takim/genel-bakis.html" | relative_url }}">Genel Bakış</a></li>
            <li><a href="{{ "/takim/rekabet-analizi.html" | relative_url }}">Rekabet Analizi</a></li>
            <li><a href="{{ "/takim/oyuncular.html" | relative_url }}">Oyuncular</a></li>
            <li><a href="{{ "/takim/maclar.html" | relative_url }}">Maçlar</a></li>
            <li><a href="{{ "/takim/taktikler.html" | relative_url }}">Taktikler</a></li>
            <li><a href="{{ "/takim/cezali-oyuncular.html" | relative_url }}">Cezalıoyuncular</a></li>
            <li><a href="{{ "/takim/basarilar.html" | relative_url }}">Başarılar</a></li>
            <li><a href="{{ "/takim/basin-toplantisi.html" | relative_url }}">Basın Toplantısı</a></li>
            <li><a href="{{ "/takim/kiyasla.html" | relative_url }}">Kıyasla</a></li>
            <li><a href="{{ "/takim/maclarin-ozetleri.html" | relative_url }}">Maçların Özetleri</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          <img src="{{site.data.oyuncu.img | absolute_url}}" alt="{{site.data.oyuncu.title}}" class="side-nav-img"/>
          {{site.data.oyuncu.title}}
          <i class="material-icons right top">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{{ "/oyuncu/genel-bakis.html" | relative_url }}">Genel Bakış</a></li>
            <li><a href="{{ "/oyuncu/rekabet-analizi.html" | relative_url }}">Rekabet Analizi</a></li>
            <li><a href="{{ "/oyuncu/oynadigi-maclar.html" | relative_url }}">Oynadığı Maçlar</a></li>
            <li><a href="{{ "/oyuncu/basin-toplantisi.html" | relative_url }}">Basın Toplantısı</a></li>
            <li><a href="{{ "/oyuncu/kiyasla.html" | relative_url }}">Kıyasla</a></li>
            <li><a href="{{ "/oyuncu/gecmis.html" | relative_url }}">Geçmiş</a></li>
            <li><a href="{{ "/oyuncu/oynadigi-maclarin-ozetleri.html" | relative_url }}">Oynadığı Maçların Özetleri</a></li>
            <li><a href="{{ "/oyuncu/attigi-goller.html" | relative_url }}">Attığı Goller</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="hide sidenav-control">{{ page.url }}</li>
</ul>
