<!-- Modal Structure -->
<div id="modalNotifications" class="modal bottom-sheet">
  <div class="modal-content">
    <ul class="collection">
      {% for notification in site.data.notifications %}
      <li class="collection-item avatar notification">
        {% if notification.img %}
          <a href="{{notification.url}}">
            <img src="{{ notification.img.url }}" alt="{{ notification.img.alt }}" class="{{ notification.img.class }}" />
            <span class="title">Title</span>
            <p>{{ notification.content }}</p>
            <a href="#!" class="secondary-content">
              {{ notification.secondaryContent}}
            </a>
          </a>
        {% else %}
          {% if notification.icon %}
            <a href="{{notification.url}}">
              {{ notification.icon }}
              <span class="title">Title</span>
              <p>{{ notification.content }}</p>
              <a href="#!" class="secondary-content">
                {{ notification.secondaryContent}}
              </a>
            </a>
          {% else %}
            {{ notification }}
          {% endif %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
